# General
*.log
*.pyc
*.pyo
__pycache__/
*.swp
.DS_Store
*.bak
*.tmp
*.old

# Python virtual environments
venv/
.env/
.envrc

# Node (frontend)
web-frontend/node_modules/
web-frontend/build/
web-frontend/dist/

# Terraform
*.tfstate*
.terraform/
.terraform.lock.hcl

# Ansible temporary files
*.retry

# OS/Editor files
*.sublime-project
*.sublime-workspace
.vscode/
.idea/
.micropico

# Backup files
*~
*.orig
backup-*/

# Environment variables / secrets
set-proxmox-env.sh
*env.sh
*.env
.env.*

# Docker
.dockerignore

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*